---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";
import { SUPPORTED_LANGUAGES, type Language } from "@/i18n/config";
import { t } from "@/i18n/utils";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const sortedPosts = getSortedPosts(posts);
  
  const paths = [];
  
  for (const language of SUPPORTED_LANGUAGES) {
    // Filter posts by language if they have locale-specific content
    const localePosts = sortedPosts.filter(post => {
      // If post has specific locale, use only that locale's posts
      if (post.data.locale) {
        return post.data.locale === language;
      }
      // If no specific locale, show in all locales
      return true;
    });
    
    // Add pagination with locale paths
    const paginatedPosts = paginate(localePosts, { 
      pageSize: SITE.postPerPage,
      params: { locale: language },
      props: { locale: language }
    });
    
    paths.push(...paginatedPosts);
  }
  
  return paths;
}) satisfies GetStaticPaths;

const { page, locale } = Astro.props;
const currentLocale = locale as Language;

// Set current language in Astro.locals
Astro.locals.currentLanguage = currentLocale;

---

<Layout title={`${t(currentLocale, 'posts')} | ${SITE.title}`} lang={currentLocale}>
  <Header />
  <Main pageTitle={t(currentLocale, 'posts')} pageDesc={t(currentLocale, 'postsDescription')}>
    <ul>
      {page.data.map(data => <Card {...data} locale={currentLocale} />)}
    </ul>
  </Main>

  <Pagination page={page} locale={currentLocale} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>