---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { SUPPORTED_LANGUAGES, type Language } from "@/i18n/config";
import { t } from "@/i18n/utils";

export const getStaticPaths = (() => {
  const paths = [];
  
  for (const language of SUPPORTED_LANGUAGES) {
    // Only add the route for pt-BR since en-US is handled by pages/tags/index.astro (prefixDefaultLocale: false)
    if (language === 'pt-BR') {
      paths.push({
        params: { locale: language },
        props: { locale: language }
      });
    }
  }
  
  return paths;
}) satisfies GetStaticPaths;

const { locale } = Astro.props;
const currentLocale = locale as Language;

// Set current language in Astro.locals
Astro.locals.currentLanguage = currentLocale;

const posts = await getCollection("blog", ({ data }) => {
  if (data.draft) return false;
  // Filter by locale if specified
  if (data.locale) {
    return data.locale === currentLocale;
  }
  return true;
});

let tags = getUniqueTags(posts);
---

<Layout title={`${t(currentLocale, 'tags')} | ${SITE.title}`} lang={currentLocale}>
  <Header />
  <Main pageTitle={t(currentLocale, 'tags')} pageDesc={t(currentLocale, 'tagsDescription')}>
    <ul>
      {tags.map(({ tag, tagName }) => (
        <Tag tag={tag} tagName={tagName} size="lg" locale={currentLocale} />
      ))}
    </ul>
  </Main>
  <Footer />
</Layout>